:root {
  --primary-color: #ffcc00;
  --hover-color: #ff9900;
  --disabled-color: #cccccc;
  --error-color: #ff0000;
  --background-color: #D7D8DA; /* Fondo general */
  --button-text-color: #fff; /* Color del texto de los botones */
  --button-background-color: #333; /* Color de fondo de los botones */
  --excel-color: #28a745; /* Color verde para botón de Excel */
  --hover-excel-color: #218838; /* Color de hover para botón de Excel */
  --pdf-color: #dc3545; /* Color rojo para botón de PDF */
  --hover-pdf-color: #c82333; /* Color de hover para botón de PDF */
  --print-color: #6c757d; /* Color gris para botón de imprimir */
  --hover-print-color: #5a6268; /* Color de hover para botón de imprimir */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

h1 {
  color: #333;
}

button {
  background-color: var(--button-background-color);
  border: none;
  color: var(--button-text-color);
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--hover-color);
}

button.disabled-button {
  background-color: var(--disabled-color);
  cursor: not-allowed;
  opacity: 0.6;
}

button.export-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button.export-excel {
  background-color: var(--excel-color);
}

button.export-excel:hover {
  background-color: var(--hover-excel-color);
}

button.export-pdf {
  background-color: var(--pdf-color);
}

button.export-pdf:hover {
  background-color: var(--hover-pdf-color);
}

button.export-print {
  background-color: var(--print-color);
}

button.export-print:hover {
  background-color: var(--hover-print-color);
}

.countdown {
  color: var(--error-color);
  font-size: 1.2em;
  font-weight: bold;
}

input[type="date"] {
  width: 106px; /* Aumenta el ancho para asegurar que se vea todo el año */
  font-size: 14px; /* Ajusta el tamaño de la fuente si es necesario */
  padding: 5px; /* Ajusta el padding si es necesario */
  color: #000; /* Asegura que el texto sea negro */
  background-color: #fff; /* Asegura que el fondo sea blanco */
}

input[type="date"]::-webkit-datetime-edit {
  color: #000; /* Asegura que el texto sea negro */
}

input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: #000; /* Asegura que el texto sea negro */
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none; /* Oculta los botones de spin y clear */
}