:root {
  --primary-color: #ffcc00;
  --hover-color: #ff9900;
  --disabled-color: #cccccc;
  --error-color: #ff0000;
  --background-color: #D7D8DA; /* Fondo general */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

h1 {
  color: #333;
}

button {
  background-color: var(--primary-color);
  border: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--hover-color);
}

button.disabled-button {
  background-color: var(--disabled-color);
  cursor: not-allowed;
  opacity: 0.6;
}

.countdown {
  color: var(--error-color);
  font-size: 1.2em;
  font-weight: bold;
}

input[type="date"] {
  width: 110px; /* Aumenta el ancho para asegurar que se vea todo el año */
  font-size: 14px; /* Ajusta el tamaño de la fuente si es necesario */
  padding: 5px; /* Ajusta el padding si es necesario */
  color: #000; /* Asegura que el texto sea negro */
  background-color: #fff; /* Asegura que el fondo sea blanco */
}

input[type="date"]::-webkit-datetime-edit {
  color: #000; /* Asegura que el texto sea negro */
}

input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: #000; /* Asegura que el texto sea negro */
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none; /* Oculta los botones de spin y clear */
}